<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<img with="150" height="75" src="/images/logo-mercado-liebre.svg">
<p>Lugar para poner la barra de busqueda</p>
<p></p>Comprá en cuotas y sin tarjeta de crédito</p>

<body>
    <ul>
        <a href="https://www.google.com">
            <li>Ofertas
            </li>
            <a href="https://www.google.com">
                <li>Tiendas Oficiales</li>
            </a>
            <a href="https://www.google.com">
                <li>Vender
            </a></li>
            <a href="https://www.google.com">
                <li>Ayuda
                </li>
    </ul>
    <ul>
        <a href="www.google.com">
            <li>Crea tu cuenta
        </a></li>
        <a href="www.google.com">
            <li>Ingresa
        </a></li>
        <a href="www.google.com">
            <li>Mis compras
        </a></li>
    </ul>
    <main>
        <h3><strong>Sección: Basado en tu última compra</strong></h3>
        <img with="300" height="150" src="/images/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <p>40% off</p>
        <strong>
            <p>Cafetera Moulinex</p>
        </strong>
        <img with="300" height="150" src="/images/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <p>20% off</p>
        <strong>
            <p>MacBook Pro 2019</p>
        </strong>
        <img with="300" height="150" src="/images/img-samsung-galaxy-s10.jpg">
        <p>$70.500</p>
        <p>10% off</p>
        <strong>
            <p>Samsung Galaxy S10</p>
        </strong>
        <img with="300" height="150" src="/images/img-tv-samsung-smart.jpg">
        <p>$23.200</p>
        <p>5% off</p>
        <strong>
            <p>SmartTv Samsung 43</p>
        </strong>
        <h3><strong>Sección de Ofertas</strong></h3>
        <img with="300" height="150" src="/images/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <p>40% off</p>
        <strong>
            <p>Cafetera Moulinex</p>
        </strong>
        <img with="300" height="150" src="/images/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <p>20% off</p>
        <strong>
            <p>MacBook Pro 2019</p>
        </strong>
        <img with="300" height="150" src="/images/img-samsung-galaxy-s10.jpg">
        <p>$70.500</p>
        <p>10% off</p>
        <strong>
            <p>Samsung Galaxy S10</p>
        </strong>
        <img with="300" height="150" src="/images/img-tv-samsung-smart.jpg">
        <p>$23.200</p>
        <p>5% off</p>
        <strong>
            <p>SmartTv Samsung 43</p>
        </strong>
    </main>
    <footer>
        <h5>
            <center> <strong>Pagá con tarjeta o en efectivo</strong></center>
            <p>
                <center>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</center>
            </p>
            <center> <strong>Envío gratis desde $ 2.500</strong></center>
            <p>
                <center>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</center>
            </p>
            <center> <strong>Seguridad, de principio a fin</strong></center>
            <p>
                <center>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@</center>
            </p>
            <center>Copyright © 1999-2020 MercadoLiebre S.R.L.</center>
        </h5>
    </footer>
</body>


</html>