<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <input class="busqueda-bar" placeholder="Busqueda" type="text">
            <div class="busqueda-icon"> <button><i class="fas fa-search"></i></button></div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-header-bot">
            <ul class="left-navbar">
                <li class="text-navbar"><a href="#">Ofertas</a></li>
                <li class="text-navbar"><a href="#">Tiendas Oficiales</a></li>
                <li class="text-navbar"><a href="#">Vender</a></li>
                <li class="text-navbar"><a href="#">Ayudar</a></li>
            </ul>
            <ul class="right-navbar">
                <li class="text-navbar"><a href=".views//register">Crea tu cuenta</a><i class="far fa-address-card"></i></li>
                <li class="text-navbar"><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li class="text-navbar"><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>

    <main>
        <img src="/images/img-home-banner.jpg" class="banner">
        <h3 class="tituloCompra">Basado en tu última compra</h3>
        <div class="productos-ultima-compra">
            <div class="articulo">
                <img class="foto-articulo" src="/images/img-cafetera-moulinex.jpg">
                <div class="descripcionProducto">
                    <div class="iconoenvio"><i class="fas fa-truck"></i></div>
                    <div class="descripcionArtTop">
                        <p class="price">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <p class="descripcionArtBot">Cafetera Moulinex</p>
                </div>
            </div>
            <div class="articulo">
                <img class="foto-articulo" src="/images/img-macbook-pro-2019.jpg">
                <div class="descripcionProducto">
                    <div class="iconoenvio"><i class="fas fa-truck"></i></div>
                    <div class="descripcionArtTop">
                        <p class="price">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <p class="descripcionArtBot">MacBook Pro 2019</p>
                </div>
            </div>
            <div class="articulo">
                <img class="foto-articulo" src="/images/img-samsung-galaxy-s10.jpg">
                <div class="descripcionProducto">
                    <div class="iconoenvio"><i class="fas fa-truck"></i></div>
                    <div class="descripcionArtTop">
                        <p class="price">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                </div>
                <p class="descripcionArtBot">Samsung Galaxy S10</p>
            </div>
            <div class="articulo">
                <img class="foto-articulo" src="/images/img-tv-samsung-smart.jpg">
                <div class="descripcionProducto">
                    <div class="iconoenvio"><i class="fas fa-truck"></i></div>
                    <div class="descripcionArtTop">
                        <p class="price">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                </div>
                <p class="descripcionArtBot">SmartTv Samsung 43</p>
            </div>
        </div>
        <h3 class="titulo-ofertas">Ofertas</h3>
        <div class="productos-ofertas">
            <div class="articulo">
                <img class="foto-articulo" src="/images/img-cafetera-moulinex.jpg">
                <div class="descripcionProducto">
                    <div class="iconoenvio"><i class="fas fa-truck"></i></div>
                    <div class="descripcionArtTop">
                        <p class="price">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <p class="descripcionArtBot">Cafetera Moulinex</p>
                </div>
            </div>
            <div class="articulo">
                <img class="foto-articulo" src="/images/img-macbook-pro-2019.jpg">
                <div class="descripcionProducto">
                    <div class="iconoenvio"><i class="fas fa-truck"></i></div>
                    <div class="descripcionArtTop">
                        <p class="price">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <p class="descripcionArtBot">MacBook Pro 2019</p>
                </div>
            </div>
            <div class="articulo">
                <img class="foto-articulo" src="/images/img-samsung-galaxy-s10.jpg">
                <div class="descripcionProducto">
                    <div class="iconoenvio"><i class="fas fa-truck"></i></div>
                    <div class="descripcionArtTop">
                        <p class="price">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                </div>
                <p class="descripcionArtBot">Samsung Galaxy S10</p>
            </div>
            <div class="articulo">
                <img class="foto-articulo" src="/images/img-tv-samsung-smart.jpg">
                <div class="descripcionProducto">
                    <div class="iconoenvio"><i class="fas fa-truck"></i></div>
                    <div class="descripcionArtTop">
                        <p class="price">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                </div>
                <p class="descripcionArtBot">SmartTv Samsung 43</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="iconFooter"><i class="fas fa-credit-card"></i></div>
        <strong>Pagá con tarjeta o en efectivo</strong>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
        <div class="iconFooter"><i class="fas fa-gift"></i></div>
        <strong>Envío gratis desde $ 2.500</strong>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
        <div class="iconFooter"><i class="fas fa-user-shield"></i></div>
        <strong>Seguridad, de principio a fin</strong>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@
        </p>
        Copyright © 1999-2020 MercadoLiebre S.R.L.

    </footer>
</body>
