<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<img class="logoML" with="150" height="75" src="/images/logo-mercado-liebre.svg">
<input type="text" placeholder="barra de búsqueda">
<button><i class="fas fa-search"></i></button>

<!-- <p>Lugar para poner la barra de busqueda</p> -->
<div>
    <center>
        <p></p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </center>
</div>

<body>
    <ul class="navbar">
        <a href="https://www.google.com">
            <li>Ofertas
            </li>
            <a href="https://www.google.com">
                <li>Tiendas Oficiales</li>
            </a>
            <a href="https://www.google.com">
                <li>Vender
            </a></li>
            <a href="https://www.google.com">
                <li>Ayuda
                </li>
    </ul>
    <ul class="loginbar">
        <a href="www.google.com">
            <li>Crea tu cuenta<i class="far fa-address-card"></i>
        </a></li>
        <a href="www.google.com">
            <li>Ingresa<i class="fas fa-sign-in-alt"></i>
        </a></li>
        <a href="www.google.com">
            <li>Mis compras<i class="fas fa-shopping-basket"></i>
        </a></li>
    </ul>
    <center>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </center>
    <main>
        <h3><strong>Sección: Basado en tu última compra</strong></h3>
        <img with="300" height="150" src="/images/img-cafetera-moulinex.jpg">
        <p class="precios">$6.770</p>
        <p class="descuentos">40% off</p>
        <strong>
            <p class="descripcionProd">Cafetera Moulinex</p>
        </strong>
        <img with="300" height="150" src="/images/img-macbook-pro-2019.jpg">
        <p class="precios">$230.000</p>
        <p class="descuentos">20% off</p>
        <strong>
            <p class="descripcionProd">MacBook Pro 2019</p>
        </strong>
        <img with="300" height="150" src="/images/img-samsung-galaxy-s10.jpg">
        <p class="precios">$70.500</p>
        <p class="descuentos">10% off</p>
        <strong>
            <p class="descripcionProd">Samsung Galaxy S10</p>
        </strong>
        <img with="300" height="150" src="/images/img-tv-samsung-smart.jpg">
        <p class="precios">$23.200</p>
        <p class="descuentos">5% off</p>
        <strong>
            <p class="descripcionProd">SmartTv Samsung 43</p>
        </strong>
        <h3><strong>Sección de Ofertas</strong></h3>
        <img with="300" height="150" src="/images/img-cafetera-moulinex.jpg">
        <p class="precios">$6.770</p>
        <p class="descuentos">40% off</p>
        <strong>
            <p class="descripcionProd">Cafetera Moulinex</p>
        </strong>
        <img with="300" height="150" src="/images/img-macbook-pro-2019.jpg">
        <p class="precios">$230.000</p>
        <p class="descuentos">20% off</p>
        <strong>
            <p class="descripcionProd">MacBook Pro 2019</p>
        </strong>
        <img with="300" height="150" src="/images/img-samsung-galaxy-s10.jpg">
        <p class="precios">$70.500</p>
        <p class="descuentos">10% off</p>
        <strong>
            <p class="descripcionProd">Samsung Galaxy S10</p>
        </strong>
        <img with="300" height="150" src="/images/img-tv-samsung-smart.jpg">
        <p class="precios">$23.200</p>
        <p class="descuentos">5% off</p>
        <strong>
            <p class="descripcionProd">SmartTv Samsung 43</p>
        </strong>
    </main>
    <footer>
        <div class="iconFooter"><i class="fas fa-credit-card"></i></div>
        <strong>Pagá con tarjeta o en efectivo</strong>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
        <div class="iconFooter"><i class="fas fa-gift"></i></div>
        <strong>Envío gratis desde $ 2.500</strong>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
        <div class="iconFooter"><i class="fas fa-user-shield"></i></div>
        <strong>Seguridad, de principio a fin</strong>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@
        </p>
        Copyright © 1999-2020 MercadoLiebre S.R.L.

    </footer>
</body>


</html>