<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mercado Liebre</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo"></a> <input class="busqueda-bar"
                placeholder="Busqueda" type="text">
            <div class="busqueda-icon"> <button><i class="fas fa-search"></i></button></div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-header-bot">
            <ul class="left-navbar">
                <li class="text-navbar"><a href="#">Ofertas</a></li>
                <li class="text-navbar"><a href="#">Tiendas Oficiales</a></li>
                <li class="text-navbar"><a href="#">Vender</a></li>
                <li class="text-navbar"><a href="#">Ayudar</a></li>
            </ul>
            <ul class="right-navbar">
                <li class="text-navbar"><a href="/register">Crea tu cuenta</a><i class="far fa-address-card"></i>
                </li>
                <li class="text-navbar"><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li class="text-navbar"><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>

    <form action="/registro" method="POST">

        <div class="boxesdatos">
            <h3 class="titulo">Ingresa a tu cuenta</h3>
            <input type="text" placeholder="Nombre de usuario" name="username">
            <input class="passwordfirst" type="password" placeholder="  Contraseña" name="contraseña">
        </div>
        <button class="buttonlogin" type="submit" value="Ingresar">Ingresar</button>
    </form>

    <footer>
        <div class="detalles-piepagina">
            <div class="elementos-piepagina">
                <div class="medio-pago">
                    <div class="iconFooter"><i class="fas fa-credit-card"></i></div>
                    <strong>Pagá con tarjeta o en efectivo</strong>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
                <div class="envios">
                    <div class="iconFooter"><i class="fas fa-gift"></i></div>
                    <strong>Envío gratis desde $ 2.500</strong>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
                <div class="seguridad">
                    <div class="iconFooter"><i class="fas fa-user-shield"></i></div>
                    <strong>Seguridad, de principio a fin</strong>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@
                    </p>
                </div>

            </div>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </div>
    </footer>