<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <header>
        <img src="/images/imagenMia.jpg" alt="">
    </header>
    <form action="/registro" method="POST">
        <div class="requerimientos1">
            <input type="text" placeholder="Nombre y apellido" name="nombreyapellido">
            <input type="text" placeholder="Nombre de usuario" name="usuario">
            <input type="email" placeholder="Email" name="email">
        </div>
        <h3>Fecha de nacimiento</h3>
        <input class="requerimientos1fecha" type="date" id="birthday" name="birthday">
        <div class="requerimientos1">
            <input type="text" placeholder="Domicilio" name="domicilio">
        </div>
        <h3>Perfil de usuario</h3>
        <div class="requerimientos2">
            <div class="catCompra">
                <input type="radio" name="Comprador" value="Comprador">
                <label for="Comprador">Comprador</label>
            </div>
            <div class="catVenta">
                <input type="radio" name="Vendedor" value="Vendedor">
                <label for="Vendedor">Vendedor</label>
            </div>
        </div>
        <h3>Intereses</h3>
        <div class="requerimientos3">
            <div class="electro">
                <input type="checkbox" name="Electro" value="Electro">
                <label for="Electro">Electro</label>
            </div>
            <div class="moda">
                <input type="checkbox" name="Moda" value="Moda">
                <label for="Moda">Moda</label>
            </div>
            <div class="hogar">
                <input type="checkbox" name="Hogar" value="Hogar">
                <label for="Hogar">Hogar</label>
            </div>
            <div class="jugueteria">
                <input type="checkbox" name="Jugueteria" value="Jugueteria">
                <label for="Jugueteria">Jugueteria</label>
            </div>
            <div class="vida">
                <input type="checkbox" name="Vida sana" value="Vida sana">
                <label for="Vida sana">Vida sana</label>
            </div>
        </div>
        <div class="botones">
            <button type="submit" value="Enviar">Enviar</button>
            <button type="reset" value="Borrar">Borrar</button>
        </div>
    </form>
</body>
