* {
    box-sizing: border-box;
    margin: 0;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.logo {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    display: block;
}

.hamburger-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-header-bot {
    display: none;
}

.main-header-bot ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.main-header-bot a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
}

.busqueda-bar {
    display: none;
}

.busqueda-icon {
    display: none;
}


body {
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #ffffff;
}

img {
    width: 100%;
}

.password {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.fecha-de-nacimiento,
.perfil-usuario,
.intereses {
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 20px;
    border-top: #ebebeb 2px solid;
    width: 100%;
}

.foto-de-perfil {
    display: flex;
    flex-direction: column;
}

.texto-perfil {
    margin-left: 20px;
    font-weight: 400;
    color: #666;
    border-top: #ebebeb 2px solid;
    width: 100%;
    font-size: 18px;
    padding-top: 10px;
}

.archivo-perfil {
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}

.password input {
    border: 1px solid #222;
    border-radius: 4px;
    align-items: left;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 35%;
}

h3 {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 15px 0px;
    font-weight: 400;
    color: #666;
    font-size: 18px;
}

.botones {
    display: flex;
    margin: auto;
    justify-content: center;
}

.button-send {
    padding: 5px;
    margin: 10px;
    width: 100px;
    border: none;
    border-radius: 5%;
    background-color: rgb(100, 100, 100);
}

.button-delete {
    padding: 5px;
    margin: 10px;
    width: 100px;
    border: none;
    border-radius: 5%;
    background-color: rgb(100, 100, 100);
}

.requerimientos1 input {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #222;
    border-radius: 4px;
}

.requerimientos1fecha {
    display: flex;
    align-items: left;
    margin-left: 20px;
    width: 80%;
    border: 1px solid #222;
    border-radius: 4px;
}

h3 {
    display: flex;
    align-items: left;
    margin-left: 20px;
    width: 80%;

}

.requerimientos2 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-right: 10px;

}

input[type="radio"] {
    vertical-align: baseline;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;

}

footer {
    display: flex;
    padding-top: 10%;
    justify-content: space-around;
}

.electro {
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}

.electro input {
    margin-right: 10px;
}

.moda {
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}

.moda input {
    margin-right: 10px;
}

.hogar {
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}

.hogar input {
    margin-right: 10px;
}

.jugueteria {
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}

.jugueteria input {
    margin-right: 10px;
}

.vida {
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}

.vida input {
    margin-right: 10px;
}

.requerimientos3 {
    font-size: 18px;
}