* {
    box-sizing: border-box;
    margin: 0;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
    max-width: 100%;
}


.logo {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    display: block;
}

.hamburger-button {
    background-color: #3483fa;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-header-bot {
    display: none;
}

.main-header-bot ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.main-header-bot a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
}

.busqueda-bar {
    display: none;
}

.busqueda-icon {
    display: none;
}

body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    background-color: #ebebeb;
}

img {
    width: 100%;
}

.password {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.fecha-de-nacimiento,
.perfil-usuario,
.intereses {
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 20px;
    border-top: #ebebeb 2px solid;
    width: 100%;
}

.foto-de-perfil {
    display: flex;
    flex-direction: column;
}

.texto-perfil {
    margin-left: 20px;
    font-weight: 400;
    color: #666;
    border-top: #ebebeb 2px solid;
    width: 100%;
    font-size: 18px;
    padding-top: 10px;
}

.archivo-perfil {
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}

.password input {
    border: none;
    border-radius: 4px;
    align-items: left;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 45%;
    height: 30px;
}

h3 {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 15px 0px;
    font-weight: 400;
    color: #666;
    font-size: 18px;
}

.botones {
    margin-right: 20vw;
    margin-left: 20vw;
    margin-bottom: 20px;
}

.button-send {
    padding: 5px;
    margin: 10px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 2%;
    background-color: #0044aa;
}

.button-delete {
    margin: 10px;
    width: 100%;
    border: none;
    height: 30px;
    border-radius: 2%;
    background-color: #aa0044;
}

.requerimientos1 input {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    border: none;
    border-radius: 4px;
    height: 30px;
}

.requerimientos1fecha {
    background-color: #ffffff;
    display: flex;
    align-items: left;
    padding-left: 10px;
    margin-left: 20px;
    width: 90%;
    border: none;
    border-radius: 4px;
    height: 30px;
}

h3 {
    display: flex;
    align-items: left;
    margin-left: 20px;
    width: 80%;

}

.requerimientos2 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-right: 10px;

}

.requerimientos3 {
    padding-bottom: 20px;
}

input[type="radio"] {
    vertical-align: baseline;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;

}

.iconFooter {
    font-size: 25px;
    color: #3483fa;
}

.detalles-piepagina p {
    font-size: 14px;
}

.detalles-piepagina h5 {
    font-weight: 400;
    padding-bottom: 10px;
}

.detalles-piepagina {
    background-color: white;
    border-radius: 1%;
    margin: 0px 10px;
}


.electro {
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}

.electro input {
    margin-right: 10px;
}

.moda {
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}

.moda input {
    margin-right: 10px;
}

.hogar {
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}

.hogar input {
    margin-right: 10px;
}

.jugueteria {
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}

.jugueteria input {
    margin-right: 10px;
}

.vida {
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}

.vida input {
    margin-right: 10px;
}

.requerimientos3 {
    font-size: 18px;
}
.elementos-piepagina {
    padding-left: 10px;
    margin-top: 2%;
}

.medio-pago,
.envios,
.seguridad {
    margin: 0;
    padding-bottom: 2vh;
    padding-top: 2vh;
    text-align: center;
}

h5 {
    text-align: center;
}

@media (min-width: 768px) {

    .logo {
        padding-right: 20px;
    }

    .main-header-top {
        display: flex;
        justify-content: space-between;
    }

    .hamburger-button {
        display: none;
    }

    .main-header-bot {
        display: flex;
    }

    .main-header-bot {
        display: flex;
        justify-content: space-between;
    }

    .main-header-bot ul {
        display: flex;
    }

    .main-header-bot li {
        margin: 0px 5px;
        font-size: 15px;
    }

    .busqueda-bar {
        display: block;
        max-height: 30px;
        margin: auto;
        width: 40%;
        padding-left: 10px;
    }

    .busqueda-icon {
        display: block;
        justify-content: left;
        padding-right: 1vw;
        max-height: 30px;
        max-width: 10px;
        margin: auto;
        padding-right: 15vw;
    }

    main {
        max-width: 90%;
        padding-left: 10vw;
    }

}

@media (min-width: 1080px) {

    form {
        max-width: 70%;
        padding-left: 20vw;
    }

    .main-header-top,
    .main-header-bot {
        max-width: 1200px;
        margin: auto;
    }

    .main-header-top {
        align-items: center;
    }

    .main-header-bot {
        margin-top: 30px;
    }

    .main-header-bot li {
        margin: 0px 10px;
    }

    .main-header-bot a {
        font-size: 18px;
        padding: 5px 5px;
        transition: all 200ms;
    }

    .text-navbar {
        transition: all 200ms;
        color: #444;
    }

    .text-navbar:hover {
        color: black;
    }

    .main-header-bot a:hover {
        color: black;
    }

    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }

    .busqueda-bar {
        display: block;
        height: 50px;
        margin: auto;
        width: 40%;
    }

    .busqueda-icon {
        display: flex;
        justify-content: left;
        padding-right: 1vw;
        max-height: 40px;
        max-width: 20px;
        margin: auto;
        padding-right: 15vw;
    }

    .botones {
        margin-right: 5vw;
        margin-left: 5vw;
        margin-bottom: 0;
    }

    .button-send {
        background-color: #0044aa;
    }

    .button-delete {
        background-color: #aa0044;
    }

    .elementos-piepagina {
        display: flex;
        justify-content: center;
        max-width: 100%;

    }

    .medio-pago,
    .envios,
    .seguridad {
        margin: 10px;
        padding-bottom: 4vh;
        padding-top: 5vh;
    }

}