
body {
    font-family: 'roboto'; src: url(https://fonts.google.com/specimen/Roboto);;
    font-size: 14px;
    background-color: yellow;
}

h5 {
    text-align: center;
}

.navbar {
    color: inherit;
}

.loginbar {
    font-size: 14px;
}

h3 {
    font-size: 24px;
}

.burger-menu {
    font-size: 20px;
    color: white;
    background-color:#03264C;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}
.logoML {
    padding: 20px;
}
.precios {
    font-size: 18px;
}
.descuentos {
    font-size: 16px;
}
.descripcionProd {
    font-size: 16px;
}
footer{
    line-height: 15px;
    text-align: center;
}
.iconFooter{
    color: #03264C;
    font-size: 2em;
    padding: 10px;
}